:80 {
    encode gzip zstd

    handle /api/* {
        reverse_proxy {$GATUS_URL:gatus:8080} {
            header_up Host {upstream_hostport}
        }
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
